@import "../../../guides/space";
@import "../../../guides/text";

// This controls the header's behavior, having two options: relative and fixed.
$header-position: relative !default;

// This sets the height of the header.
$header-height: 50px !default;
// These handle the dimensions of the spaces in the header.
$header-logo-space-width: 200px !default;
$header-actions-space-width: 200px !default;

// These control the background and text colors of the header.
$header-background-color: black !default;

$header-default-font: $text-font !default;
$header-text-color: white !default;


$header-nav-default-color: $header-text-color !default;
$header-nav-active-color: blue !default;
$header-nav-hover-color: red !default;
$header-nav-visited-color: purple !default;

$header-nav-primary-desktop-display: inline-grid !default;
$header-nav-primary-desktop-columns: auto !default;
$header-nav-primary-desktop-gap: $gutter-xxlarge !default;
$header-nav-mobile-width: calc(100% - #{$gutter-xxxlarge}) !default;
$header-lateral-column-mobile-width: 24px !default;
$header-nav-close-toggle-size: 14px !default;

$header-nav-items-width: 150px !default;
$header-nav-spacing: $gutter !default;

