@import "../../../guides/space";

$header-position: relative !default;
$header-height: 50px !default;
$header-text-default-color: white !default;
$header-background-color: black !default;
$header-logo-space-width: 200px !default;
$header-logo-height: 30px !default;
$header-lateral-column-mobile-width: 24px !default;
$header-nav-primary-desktop-display: inline-grid !default;
$header-nav-primary-desktop-columns: auto !default;
$header-nav-primary-desktop-gap: $gutter-xxlarge !default;
$header-nav-default-color: white !default;
$header-nav-mobile-width: calc(100% - #{$gutter-xxxlarge}) !default;
$header-nav-close-toggle-size: 14px !default;
$header-actions-space-width: 200px !default;

$header-nav-items-width: 150px !default;
$header-nav-spacing: $gutter !default;

