$input-placeholder-color: gray !default;
$input-margin-bottom: $gutter-xsmall !default;
$input-label-color: black !default;
$input-border: 1px solid !default;
$input-border-default: 1px solid !default;
$input-border-active: lightgrey !default;
$input-border-error: #FA0B0B !default;
$input-border-disabled: 0.5 !default;
$input-message-error-color: #FA0B0B !default;
$input-padding: $gutter-xsmall !default;
$input-focus-color: black !default;
$error-container-size: 16px !default;

$field-inline-areas: "input label" "error error" !default;
$field-inline-columns: min-content 1fr !default;
$error-inline-container-size: 16px !default;
