// Heights per device
$hero-mobile-height:  400px !default;
$hero-tablet-height:  400px !default;
$hero-desktop-height: 500px !default;


$hero-content-mobile-width: 100% !default;
$hero-content-tablet-width: 100% !default;
$hero-content-desktop-width: 100% !default;

$hero-content-place: center center !default;

$hero-headings-text-color: $text-color !default;
