@import "../../../guides/screen";
@import "../../../guides/space";


$columns-padding: $gutter !default;

@mixin columns-common {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  max-width: 100%;
}

// Slim
$slim-column-width-xxsmall:   100%;
$slim-column-width-xsmall:    100%;
$slim-column-width-small:     100%;
$slim-column-width-medium:    $breakpoint-medium / $golden-ratio;
$slim-column-width-large:     $breakpoint-large / $golden-ratio;
$slim-column-width-xlarge:    $breakpoint-xlarge / $golden-ratio;
$slim-column-width-xxlarge:   $breakpoint-xlarge / $golden-ratio;
$slim-column-width-xxxlarge:  $breakpoint-xxlarge / $golden-ratio;
