@import "../../../guides/space";

$table-cell-border: 1px solid lightgrey;
$table-cell-padding: $gutter-small $gutter;
$table-cell-heading-color: lightgrey;
$table-row-hover-background-color: #f7f7f7;

$table-pagination-items-gap: $gutter;
$table-pagination-margin-top: $gutter;
$table-pagination-justify: start;
$table-pagination-item-selected-color: blue;
