@import "../../components/headers/simple/header";

$page-mobile-header-offset: $header-height;
$page-tablet-header-offset: $header-height;
$page-desktop-header-offset: $header-height;

$page-background-color: white !default;
