@import "../../../guides/space";

$grid-columns: 4 !default;
$grid-row-gap: $gutter !default;
$grid-column-gap: $gutter !default;
$grid-align-items: start !default;
$grid-justify-items: start !default;
