@import "space";

.--flare-columns {
  // Column default widths
  // When columns aren't defined 100% is used
  //--f-columns-normal-width-xxs: 100%;
  //--f-columns-normal-width-xs:  100%;
  //--f-columns-normal-width-s:   100%;
  
  --f-columns-normal-width-m:    var(--f-breakpoint-m);

  --f-columns-normal-width-l:    var(--f-breakpoint-l);
  --f-columns-normal-width-xl:   var(--f-breakpoint-xl);
  --f-columns-normal-width-xxl:  var(--f-breakpoint-xl);
  --f-columns-normal-width-xxxl: var(--f-breakpoint-xxl);
  
  --f-columns-weight-ratio: var(--f-golden-ratio);

  --f-columns-slim-ratio: var(--f-golden-ratio);
}