
:root {
    --f-error-color: red;

    --f-primary-action-color: black;
    --f-primary-action-color--hover: #222222;

    --f-primary-action-anticolor: white;
    --f-primary-action-anticolor--hover: #eeeeee;


    --f-forms-text-font: var(--f-paragraph-text-font);

    --f-forms-input-text-size: var(--f-default-text-size);
    --f-forms-button-text-size: var(--f-default-text-size);
    
    --f-forms-radius: 0;
    --f-forms-input-radius: var(--f-forms-radius);
    --f-forms-button-radius: var(--f-forms-radius);

    --f-forms-input-padding: var(--f-gutter-xs);
    --f-forms-input-margin: var(--f-gutter);
    --f-forms-button-padding: var(--f-gutter-s);
    
    --f-forms-input-border-color:#999;
    --f-forms-input-border-width: 1px;
}
