:root {
    // Table
    --f-table-text-font: var(--f-default-text-font);
    --f-table-text-weight: var(--f-default-headers-weight);
    --f-table-text-size: 1rem;
    --f-table-line-height: 1.5em;
}