@import "../../../guides/space";

$footer-text-color: white !default;
$footer-background-color: black !default;
$footer-min-height: auto !default;
$footer-vertical-padding: $gutter-xlarge !default;

$footer-link-default-color: black !default;
$footer-link-hover-color: black !default;
$footer-link-active-color: black !default;
$footer-link-visited-color: black !default;
