@import 'reset';

@import 'tokens';
@import 'functions';

@import 'text';
@import 'forms';


* {
    box-sizing: border-box;
}

html {
    background-color: var(--test);
}

body {
    font-family: var(--f-default-text-font);
    color: var(--f-default-text-color);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--f-default-text-color);
    margin-bottom: var(--f-gutter);
}