@import 'reset';

@import 'tokens';
@import 'functions';

@import 'text';

* {
    box-sizing: border-box;
}

html {
    background-color: var(--test);
}

body {
    font-family: var(--f-default-text-font);
}