form {
  label,
  input {
    font-size: 1rem;
    display: block;
  }

  label {
    color: var(--f-paragraph-text-color);
    margin-bottom: var(--f-gutter-s);
    font-size: 1rem;
  }

  input, textarea {
    font-family: var(--f-forms-text-font);
    font-size: 1rem;
    border-color: var(--f-forms-input-border-color);
    border-width: var(--f-forms-input-border-width);
    border-style: solid;
    
    width: 100%;
    outline: none;
    padding: 0.5rem;
    border-radius: var(--f-forms-input-radius);
    margin-bottom: var(--f-gutter);

    &[type="text"],
    &[type="email"],
    &[type="password"] {
      appearance: none;
    }
  }

  textarea {
    resize: none;
  }

  .error {
    font-size: rem(14px);
    color: var(--f-error-color);
    display: block;
    margin-bottom: var(--f-gutter-xs);
  }
}

button, .button, a.button {
  display: inline-block;
  border: none;
  line-height: normal;
  color: var(--f-primary-action-anticolor);
  background-color: var(--f-primary-action-color);
  padding: var(--f-forms-button-padding);
  border-radius: var(--f-forms-button-radius);
  outline: none;
  margin-bottom: var(--f-gutter);
  text-decoration: none;

  cursor: default;

  &:disabled {
      opacity: 0.5;
  }
}

.no-button, button.no-button {
  background-color: transparent;
  color: var(--f-default-text-color);
  font-family: var(--f-default-text-font);

  cursor: pointer;
}