@import "functions/rem";
@import "functions/text";

@import "guides/screen";
@import "guides/text";


::selection {
  background: $text-selection-color;
}
::-moz-selection {
  background: $text-selection-color; /* Gecko Browsers */
}

html {
  font-size: $base-size;
}

body {
  font-family: $text-font;
}


main {
  h1, h2, h3, h4, h5, h6 {
    @include text-style($base-size, $headers-default-font, $headers-default-weight, $headers-default-color,
            $headers-default-line, $headers-default-margin);
  }

  h1 {
    @include text-style($h1-text-size, $h1-text-font, $h1-text-weight, $h1-text-color,
            $h1-text-line-height, $h1-text-margin);
  }

  h2 {
    @include text-style($h2-text-size, $h2-text-font, $h2-text-weight, $h2-text-color,
            $h2-text-line-height, $h2-text-margin);
  }

  h3 {
    @include text-style($h3-text-size, $h3-text-font, $h3-text-weight, $h3-text-color,
            $h3-text-line-height, $h3-text-margin);
  }

  h4 {
    @include text-style($h4-text-size, $h4-text-font, $h4-text-weight, $h4-text-color,
            $h4-text-line-height, $h4-text-margin);
  }

  h5 {
    @include text-style($h5-text-size, $h5-text-font, $h5-text-weight, $h5-text-color,
            $h5-text-line-height, $h5-text-margin);
  }

  h6 {
    @include text-style($h6-text-size, $h6-text-font, $h6-text-weight, $h6-text-color,
            $h6-text-line-height, $h6-text-margin);
  }

  p {
    @include text-style($paragraph-text-size, $paragraph-text-font, $paragraph-text-weight, $paragraph-text-color,
            $paragraph-line-height, $paragraph-margin);
  }

  li {
    @include text-style($list-item-text-size, $list-item-text-font, $list-item-text-weight, $list-item-text-color,
            $list-item-line-height, $list-item-margin);
  }

  ul, ol {
    margin: $paragraph-margin;
  }

  img {
    max-width: 100%;
  }

  a {
    color: $links-text-color;

    &:hover {
      color: $links-text-hover-color;
    }
  }

}


strong {
  font-weight: bold;
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}

i {
  font-style: italic;
}

